footer
  background #17161a
  margin-top 120px
  width 100%
  height 100px
  display flex
  justify-content center
footer .logo_wrapp 
  position absolute
  left 50%
  bottom 0
  transform translateX(-50%)
  display flex
  justify-content center
  align-items center
  width 250px
  height 150px
  clip-path polygon(20% 0, 80% 0, 100% 100%, 0 100%)
  background url('../img/texture/black.webp') center no-repeat
  background-size cover
  z-index 2
.footer_menu
  display flex
.footer_menu__item
  width 250px
  border-left 1px solid #484848
  border-right 1px solid #484848
  transition .4s
.footer_menu__item>a
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center
.footer_menu__item>a>span
  font-size 1.5em
  transition .4s
.footer_menu__item:nth-child(1)
.footer_menu__item:nth-child(2)
  transform skew(-20deg)
.footer_menu__item:nth-child(4)
.footer_menu__item:nth-child(5)
  transform skew(20deg)
.footer_menu__item:nth-child(1) a>span
.footer_menu__item:nth-child(2) a>span
  transform skew(20deg)
.footer_menu__item:nth-child(4) a>span
.footer_menu__item:nth-child(5) a>span
  transform skew(-20deg)
.footer_menu__item-empty
  width 190px
  position relative
.footer_menu__item:hover
  background #d8a400
  transition .4s
.footer_menu__item:hover a>span
  color #000
  transition .4s