header
  width 100%
  background #17161a
  position relative
  height 100px
  z-index 2
  display flex
  justify-content center
  align-items center
header .logo_wrapp 
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)
  display flex
  justify-content center
  align-items center
  width 250px
  height 150px
  clip-path polygon(0 0, 100% 0, 80% 100%, 20% 100%)
  background url('../img/texture/black.webp') center no-repeat
  background-size cover
.logo_wrapp .logo
  width 100px
.menu
  display flex
  justify-content center
  width fit-content
  height 100%
.emptyMenuItem
  width 190px
  position relative
  z-index 1
.menuItem
  width 250px
  height 100%
  display flex
  justify-content center
  align-items center
  border-left 1px solid #484848
  border-right 1px solid #484848
  transition .4s
.menuItem>a
  display flex
  width 100%
  height 100%
  justify-content center
  align-items center
.menuItem:hover
  background #d8a400
  transition .4s
.menuItem:hover a>span
  color #000
  transition .4s
.menuItem>a>span
  font-size 1.5em
  transition .4s
.menuItem:nth-child(1)>a>span
.menuItem:nth-child(2)>a>span
  transform skew(-20deg)
.menuItem:nth-child(4)>a>span
.menuItem:nth-child(5)>a>span
  transform skew(20deg)
.menuItem:nth-child(1)
.menuItem:nth-child(2)
  transform skew(20deg)
.menuItem:nth-child(4)
.menuItem:nth-child(5)
  transform skew(-20deg)