.howto
    background-color #FFFFFF
.howto .conteiner_head{
    margin-top 4.111111em
}
.howto_row{
    margin 84px auto 132px
    display flex
    justify-content space-between
    max-width 1000px
}
.hand
    height 480px
    width 480px
    background url('../svg/HandFrame.svg') center no-repeat
    background-size cover
    position relative
    overflow hidden
.hand > img
    position absolute
    height 90%
    bottom -45px
    left 50%
    transform translateX(-50%)
    transform-origin bottom
    animation hand 10s infinite
.howto_row__right{
    display flex
    flex-direction column
    align-items center
    justify-content center
    width 50%
}
.howto a{
    background #645E9D
    border-radius 16px
    padding 20px 70px
    color #fff
    display flex
    width fit-content
    margin-top 24px
}
.howto_text{
    position relative
}
.howto_text>p{
    text-align center
    background #fff
    box-shadow 0px 15px 40px rgba(0, 0, 0, 0.1)
    border-radius 18px
    width fit-content
    padding 16px 70px
    border 1px solid #F5F5F5
}
.circle{
    width 142px
    height 142px
    position absolute
    right -40px
    bottom 12px
}
.circle::before{
    content ''
    display block
    position absolute
    width 142px
    height 142px
    border 2px dashed #C2E299
    border-radius 50%
    z-index -1
    animation rotate 30s linear infinite
}
#howto_circle{
    animation rotate 15s linear infinite
    transform-origin center
}
@keyframes rotate{
    from{
        transform rotate(0deg)
    }
    to{
        transform rotate(360deg)
    }
}
@keyframes hand{
    
    0%{
        transform rotate(-10deg) translateX(-50%)
    }
    50%{
        transform rotate(10deg) translateX(-50%)
    }
    100%{
        transform rotate(-10deg) translateX(-50%)
    }
}
@media all and (max-width 1280px) {
    .howto_text>p{
        padding 15px 25px
    }
    .circle{
        display none
    }
    .hand{
        height 425px
        width 425px
    }
}
@media all and (max-width 920px) {
    .hand{
        height 350px
        width 350px
    }
}
@media all and (max-width 768px) {
    .hand{
        height 350px
        width 350px
    }
    .howto_row{
        flex-direction column
        justify-content center
        align-items center
    }
    .howto_row>img{
        width 70%
    }
    .howto_row__right{
        width 100%
        margin-top 45px
    }
}
@media all and (max-width 580px) {
    .hand{
        height 300px
        width 300px
    }
    .howto_row{
        margin 60px auto 80px
    }
}
@media all and (max-width 850px) and (orientation landscape) {
    .howto_row{
        margin 40px auto 70px !important
    }
    .howto_row>img{
        height -webkit-fill-available
    }
}