body::-webkit-scrollbar
    width 6px
body::-webkit-scrollbar-track
    background transparent
    padding 0 6px
body::-webkit-scrollbar-thumb
    background url('../img/scroll.png') center no-repeat
    background-size contain
*{
    margin 0
    padding 0
    scroll-behavior smooth
    box-sizing border-box
    font-family 'Russo One', sans-serif
    letter-spacing .5px
}
h1{
    font-size 5.333333em
    line-height 120%
    position relative
    color #fff
}
h2{
    font-size 3.333333em
    line-height 120%
}
h3{
    font-size 2.666666em
    line-height 120%
}
h4{
    font-size 1.888888em
    line-height 130%
}
h5{
    font-size 1.666666em
    line-height 140%
}
p{
    font-size 1em
    line-height 140%
}
.subP{
    font-size 0.888888em
    line-height 140%
}
.smalP{
    font-size 0.666666em
    line-height 150%
    color #9A9A9A
}
.gray{
    color #B5B2D0
}
.green{
    color #66B700
}
.blue{
    color #3693FF
}
ul, li{
    list-style none
}
a{
    outline none
    text-decoration none
    color #d6d6d6
}
.hidden{
    // display none
}
.show{
    display block
}
body{
    font-size 18px
    color #d6d6d6
    user-select none
    overflow-x hidden
}
body::before
  content ''
  width 100%
  height 100%
  display block
  background url('../img/wallpaper/pubg1.jpg') center no-repeat
  background-size cover
  z-index: -1
  position fixed
section{
    display flex
    justify-content center
    transform: translateZ(0px);
    width 100%
}
.wrapper{
    display flex
    flex-direction column
    align-items center
}
.container{
    max-width 1200px
    width 100vw
    position relative
}
.conteiner_head{
    width 100%
    display flex
    align-items center
    margin-left 26px
}
.conteiner_head:first-child{
    margin-top 3.222222em
}
.dots{
    display block
    width 12px
    height 12px
    background #76B66B
    border-radius 50%
    margin-left 50px
    position relative
}
.dots::before{
    content ''
    display block
    width 12px
    height 12px
    background #1B8508
    border-radius 50%
    margin-left -18px
}
.dots::after{
    position absolute
    content ''
    display inline-block
    top 0
    width 12px
    height 12px
    background #D1E7CE
    border-radius 50%
    margin-left 18px
}
@media all and (max-width 1280px) {
    body{
        font-size 16px
    }
    .conteiner{
        padding 0 47px
    }
}
@media all and (max-width 920px) {
    body{
        font-size 14px
    }
    .subP{
        font-size 1em
    }
    .conteiner{
        padding 0 35px
    }
    .conteiner_head{
        justify-content space-between   
    }
    .dots{
        margin-right 10%
    }
}
@media all and (max-width 480px) {
    .conteiner{
        padding 0 20px
    }
}