.promo
  position relative
  width 100%
  height calc(100vh - 100px)
  display flex
  align-items center

#promoOwl .owl-stage
  transition all 1.2s ease 0s !important
#promoOwl .owl-item
#promoOwl .owl-item.active:not(.center)
  transform scale(0.8)
  transition 1s
#promoOwl .owl-item.active
  transform scale(1)
  transition 1s
#promoOwl
  width 100%
#promoOwl img
  transition 1.5s  
#promoOwl li
  position relative
  overflow hidden
  border 20px solid #17161ae6
.promoOwl_text
  position absolute
  padding 16px 16px 16px 50px
  opacity 0
  left -25px
  bottom -100%
  width 50%
  height auto
  max-height 250px
  background #000
  transition 2s
  transform skew(20deg)
.center .promoOwl_text
  opacity 1
  transition 1s
.center:hover img
  transition 1.5s
  transform scale(1.2)
.center:hover .promoOwl_text
  bottom 0
  transition .5s
.center:hover .promoOwl_link
  bottom 0
  transition .5s
.promoOwl_text__content
  transform skew(-20deg)
.promoOwl_link
  position absolute
  transition 2s
  right -25px
  bottom -100%
  background #000
  transform skew(-20deg)
.promoOwl_link>a
  display flex
  padding 16px 50px 16px 16px
  width 100%
  height 100%
.promoOwl_link>a>span
  transform skew(20deg)
  transition 1s
.promoOwl_link>a:hover >span
  transition 1s
  color #d8a400
.promoOwl_lable
  position absolute
  top 0
  right 0
  width 150px
  height 150px
  display flex
  justify-content center
  align-items flex-end
  z-index 1
  padding 16px 16px 8px
  background #d8a400
  color #000
  transform rotate(45deg) translateY(-75%)
  text-transform uppercase
.promoOwl_lable>span
  letter-spacing 3px