.promo{
    min-height 100vh
    width 100%
    transition 1s
    background transparent
    position relative
}
.wrapper::before{
    position absolute
    content ''
    display block
    width 100vw
    min-height 120vh
    margin-top -10vh
    background url('../img/background.jpg') center no-repeat
    background-size cover
    // background-attachment fixed
    position fixed
    opacity 1
}
.wrapper.scroll::before{
    opacity 0
}
.down{
    position absolute
    left 50%
    bottom 100px
    transform translateX(-50%)
}
#arrow1
    animation arrow 2s linear infinite
    animation-delay .5s
#arrow2
    animation arrow 2s linear infinite
    animation-delay 1s
#arrow3
    animation arrow 2s linear infinite
    animation-delay 1.5s
.promo_main{
    display flex
    justify-content space-between
    height 70%
    align-items center
    position relative
    height: 80vh;
}
.promo_main__left{
    margin-left 75px
    z-index 1
}
.promo_main__left p{
    max-width 400px
    color #fff
}
.promo_main__right{
    position absolute
    right -100px
    height 100%
    max-height 750px
}
.promo_main__right img{
    object-fit cover
    margin-top 10%
    height 85%
    min-height 400px
}
.promo_box{
    margin-top 70px
    display flex
    align-items center
    position relative
    width fit-content
}
.promo_link{
    text-transform uppercase
    text-align center
    letter-spacing 0.33em
    color #fff
    padding 20px 60px
    border 1px dashed #fff
    border-radius 8px
    transition .4s
    background rgba(255, 255, 255, 0.2)
    border 1px dashed #FFFFFF
    backdrop-filter blur(5px)
}
.promo_link:hover{
    background #645e9da1
    transition .4s
}
.promo .arrows{
    position absolute
    top 50%
    right -65px
    transform translate(0, -50%)
}
h1::before{
    content ''
    display block
    position absolute
    top -28px
    width 63px
    height 3px
    border-radius 2px
    background #fff
}
@keyframes arrow{
    0%{
        opacity 0
    }
    50%{
        opacity 1
    }
    100%{
        opacity 0
    }
}
@media all and (max-width 1280px) {
    .promo_main__right{
        right -150px
    } 
}
@media all and (max-width 920px) {
    .promo_main__right{
        right -275px
    }
    .promo_main__left{
        margin-left 40px
    }
}
@media all and (max-width 580px) {
    .promo_link{
        padding 20px 35px
    }
    .promo .arrows{
        display none
    }
    .promo_main__left p{
        text-align center
        max-width: 280px;
        margin: 0 auto;
    }
    .promo_main__right{
        display none
    }
    .down{
        bottom 100px
    }
    .promo_main__left{
        margin 0 auto
    }
}
@media all and (max-width 375px) {
    .promo_main__right img{
        margin-top 5%
    }
    .promo_main__left{
        margin-left 10px
    }
    .promo .arrows{
        right -15px
    }
    .promo_main__right{
        right -330px
    }
    .filter{
        transition 1s
    }
}
@media all and (max-width 850px) and (orientation landscape) {
    .promo{
        padding-bottom 100px
    }
    .promo_main__right > img{
        margin-top 0
    }
    .promo_main__right{
        top -75px
    }
    .promo_box{
        margin-top 40px
    }
    h1::before{
        display none
    }
    .filter>img,
    .promo {
        min-height 155vh
    }
    .promo_link{
        padding 20px 45px
    }
    .down{
        bottom -50px
    }
}