.russia, .world
    background-color #FFFFFF
.world .conteiner_head,
.russia .conteiner_head{
    height 150px
    margin-left 0
    border-radius 32px
    padding-left 60px
    padding-bottom 48px
    color #fff
    display flex
    align-items flex-end
}
.russia .conteiner_head{
    background url('../img/head1.jpg') center no-repeat
    background-size: auto;
}
.world .conteiner_head{
    background url('../img/head2.jpg') center no-repeat
    background-size: auto;
}
.russia_visua::-webkit-scrollbar,
.world_visua::-webkit-scrollbar
    height 6px
    white-space 100%
.russia_visua::-webkit-scrollbar-track,
.world_visua::-webkit-scrollbar-track
    background transparent
    padding 0 6px
.world_visua::-webkit-scrollbar-thumb
    background url('../img/scrollG.png') center no-repeat
    background-size contain
.russia_visua::-webkit-scrollbar-thumb
    background url('../img/scrollGP.png') center no-repeat
    background-size contain
.russia .conteiner_head,
.world .conteiner_head{
    margin-top 3.111111em
    z-index 9
}
.russia .conteiner,
.world .conteiner{
    width 100vw
}
.russia_svg{
    position absolute
    z-index -1
    right -400px
    top 100px
}
.world_svg{
    position absolute
    z-index -1
    right -300px
    top 100px
    width 100%
}
.greeCircle{
    display block
    position relative
    width 14px
    height 14px
    border 2px solid #1B8508
    border-radius 50%
}
.purpleCircle{
    display block
    position relative
    width 14px
    height 14px
    border 2px solid #645E9D
    border-radius 50%
}
.greeCircle::before{
    content ''
    position absolute
    display block
    width 6px
    height 6px
    background #66B700
    border-radius 50%
    top 50%
    left 50%
    transform translate(-50%, -50%)
}
.purpleCircle::before{
    content ''
    position absolute
    display block
    width 6px
    height 6px
    background #918BCB
    border-radius 50%
    top 50%
    left 50%
    transform translate(-50%, -50%)
}
.vertHr{
    display block
    background #DCDCDC
    width 1px
    height 16px
}
.level{
    width 4%
    display flex
    justify-content center
    font-weight bold
}
.left{
    transform rotate(-90deg) translateY(3px)
    transform-origin center
}
.russia .tableItem{
    color #645E9D
}
.tableItem{
    width 17%
    color #1B8508
}
.world .tableItem{
    width 33%
}
.russia_table{
    width 925px
}
.world_table{
    width 544px
}
.russia_table,
.world_table{
    text-align center
}
.russia_table__head,
.world_table__head{
    display flex
    justify-content space-between
    align-items center
    white-space nowrap
    background rgba(252, 252, 252, 0.5)
    border-radius 18px
    padding 21px 45px 21px 30px
    border 1px dashed #DCDCDC
    margin-bottom 24px
}
.russia_table__head .tableItem,
.world_table__head .tableItem{
    font-weight bold
    color inherit
}

.russia_table__body,
.world_table__body{
    display flex
    flex-direction column
    background #FFFFFF
    border 1px solid #F5F5F5
    border-radius 18px
    padding 0 45px 0 30px
}
.russia_table__row,
.world_table__row{
    display flex
    justify-content space-between
    align-items center
    margin 29px 0
}
.russia_visua,
.world_visua{
    width 100%
    margin-top 136px
}
.soon
    color #1B8508
    display flex
    max-width 326px
    width 70%
    margin 0 auto
    margin-left 18%
    justify-content center
    border 1px dashed #DCDCDC
    padding 20px 0
    border-radius 18px
.world_table__row:last-child
    margin 10px 0
@media all and (max-width 1024px) {
    .russia_visua,
    .world_visua{
        overflow-x auto
    }
}
@media all and (max-width 920px) {
    .russia_visua,
    .world_visua{
        margin-top 300px
    }
    .russia .conteiner_head,
    .world .conteiner_head{
        height 120px
        background-size cover
        padding-bottom 20px
    }
    .russia_table{
        width 675px
    }
    .world_table{
        width 430px
    }
    .russia_svg>svg,
    .world_svg>svg{
        width 100%
    }
    .world_svg{
        right 0
    }
    .russia_svg{
        width 100%
        right 0
    }
}
@media all and (max-width 580px) {
    .russia_svg{
        width 500px
        right 50%
        top 0
        transform translateX(50%)
    }
    .world_svg{
        width 600px
        right 50%
        top 0
        transform translateX(50%)
    }
    .russia .conteiner_head,
    .world .conteiner_head{
        border-radius 20px
    }
    .russia_table__row,
    .world_table__row{
        margin 20px 0
    }
    .russia img{
        width 150%
        right -50%
        top 180px
    }
    .russia .conteiner_head,
    .world .conteiner_head{
        height 120px
        padding-left 30px
        padding-bottom 25px
    }
}
@media all and (max-width 850px) and (orientation landscape) {
    .world img,
    .russia img{
        width 100%
        right 0
    }
}