.tariffs{
    background #fff
    padding-bottom 100px
}
.tariffs .conteiner{
    display flex
    flex-wrap wrap
    justify-content space-between
}
.card{
    margin-top 50px
    max-width 366px
    height 515px
    display flex
    flex-direction column
    box-shadow 0px 15px 40px rgba(0, 0, 0, 0.04)
    border-radius 18px
    overflow hidden
    position relative
    border 1px solid #F5F5F5
    transition 1s
}
.card::before
    content ''
    display block
    width 100%
    position absolute
    bottom 0
    height 100px
    background linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 46.35%)
    z-index 99
.card_head{
    display flex
    justify-content space-between
    align-items center
    position relative
    border 1px solid #F3F3F3
    overflow hidden
    min-height 120px
    margin-bottom 24px
}
.card_head h3{
    margin-left 24px
}
.card_head h3::after{
    content ''
    display block
    background #A3D466
    width 32px
    height 2px
    border-radius 2px
}
.card_head img{
    position absolute
    right 0
    top 0
    z-index -1
}
.card_content{
    padding 0 24px
    display flex
    justify-content space-between
}
.card_column{
    text-align center
    margin-bottom 30px
    display flex
    flex-direction column
}
.card_column{
    width 92px
}
.card_column__top{
    margin-bottom 12px
    background #FCFCFC
    border 1px solid #F5F5F5
    border-radius 5px
    padding 6px 0
    text-transform uppercase
    font-weight bold
    align-self center
    width 100%
}
.card_column__bottom{
    background #fff
    border 1px dashed #F5F5F5
    box-shadow 0px 0px 12px rgba(0, 0, 0, 0.03)
    border-radius 3px
    padding 28px 0
    white-space nowrap
    color #1B8508
    align-self center
    width 100%
}
.card
    max-height 515px
.card_bottom
    // overflow hidden
    transition .5s
.card_bottom.open
    transform translateY(-170px)
.cardT{
    // max-height 76px
    transition .3s linear
}
.card_column__bottom:last-child{
    margin-right 0
}
img.card_column__bottom{
    padding 28px
    max-width 92px
    height 100%
}
.card_bottom{
    height 170px
    padding 0 24px
    margin-bottom 70px
    display flex
    flex-direction column
    position relative
    // overflow hidden
    background #fff
}
.price{
    position relative
    margin-bottom 24px
}
.price::after{
    content ''
    display block
    position absolute
    width 100%
    height 2px
    background #85C533
}
.card_button{
    margin-top 23px
    cursor pointer
    position absolute
    bottom 20px
    left 50%
    transform translateX(-50%)
    transition .4s
    background #fff
    border-radius 50%
    z-index 999
}
.card_button.open{
    transform translateX(-50%) rotate(180deg)
    transition .4s
}
.empty_card{
    display flex
    align-items center
    justify-content center
    width 366px
}
.empty_card img{
    padding 46px
    border-radius 50%
    border 1px dashed #DCDCDC
}
.card_bottom .soon
    width 100%
    margin 0
@media all and (max-width 1280px) {
    .tariffs .conteiner{
        justify-content center
    }
    .card{
        margin 50px 20px 0
        max-width 327px
    }
    .empty_card{
        margin 50px 20px 0
        width 327px
    }
    .card_column__top,
    .card_column__bottom{
        max-width 81px
    }
}
@media all and (max-width 920px) {
    .card,
    .empty_card{
        margin 50px 10px 0
    }
    .card_button{
        cursor default
    }
}
@media all and (max-width 580px) {
    .card{
        max-width 370px
    }
    .empty_card img{
        width 70%
        padding 30px
    }
    .empty_card{
        display none
    }
}
@media all and (max-width 850px) and (orientation landscape) {
    .card,
    .empty_card{
        max-width 305px !important
        margin 50px 5px 0 !important
    }
}