@import "bibl/main.styl"
@import "bibl/menu.styl"
@import "bibl/promo.styl"
@import "bibl/tariff.styl"
@import "bibl/advantage.styl"
@import "bibl/russia&world.styl"
@import "bibl/howto.styl"
@import "bibl/footer.styl"
@import "bibl/animate.css"